{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block scripts %}
    <script type="text/javascript">
        window.onload = function () 
        {
            document.getElementById("arrive_time").value = (new Date()).toISOString();
        }
    </script>
{% endblock %}

{% block title %}
    Round {{ round }} Debrief
{% endblock %}

{% block content %}
    
    <!-- form field for page load time. Value attribute gets set by script on window load,
        and the form gets returned here -->
    <input type="hidden" name="time_BP" id="arrive_time"/>
    
    <p>
        Put something here if you want.
    </p>

    {% next_button %}

{% endblock %}


