{% extends "global/Base.html" %}
{% load staticfiles otree %}

{% comment %}
    
    Eli Pandolfo <epandolf@ucsc.edu>

    <!-- otree redwood:
        if you call any function that calls 'channel.send()' in the plain javascript or within
        the Vue machine, you will get an error saying channel does not have a method called
        send.

        However, if you call the function from the HTML or from a function that runs automatically
        such as window.onload, it works fine. -->
    
{% endcomment %}

{% block scripts %}

    <script src="{% static "js/vue.js" %}"></script>
    <script type='text/javascript'>
        // time when user enters the queue room
        // because there is a wait page, this is when all players simultaneously arrive
        window.onload = function () {
            document.getElementById('arrive_time').value = new Date().toISOString()
        }
        
        // time when a player leaves the service room 
        time_sr = function() {
            document.getElementById('sr_time').value = new Date().toISOString()
        }

        // Boilerplate that lets you access useful oTree template variables from Javascript.
        var oTree = oTree || {};
        (function() {
            oTree.group = parseInt("{{ player.group.pk }}");
            oTree.group = isNaN(oTree.group) ? null : oTree.group;
            oTree.role = "{{ player.role }}";
            oTree.participantCode = "{{ player.participant.code }}";
            oTree.appName = "{{ subsession.app_name }}";
            oTree.idInGroup = "{{ player.id_in_group }}";
            oTree.csrfToken = "{{ csrf_token }}";
            {% if view.is_debug %}
            oTree.debug = true;
            {% else %}
            oTree.debug = false;
            {% endif %}
        })();

        // Log period start/end to the JavaScript console.
        document.querySelector("redwood-period").addEventListener('period-start', function(event) {
            console.log('period started');
        });
        document.querySelector("redwood-period").addEventListener('period-end', function(event) {
            console.log('period ended');
        });

        /* 
            Vue machine
            Holds all data for a single player.
            Because of a property (design flaw) of Vue that objects stored in vm.data are promises,
            to my knowledge you cannot modify objects stored in data (this does not apply
            to primitives). For this reason, g_data, which is the object representing the event that
            gets transmitted over websockets to the server, is stored outside Vue.

            https://vuejs.org/v2/guide/
        */
        var vm = new Vue({
            delimiters: ['{', '}'],
            el: '#app',
            data: function() {
                return {

                    // player data
                    start_pos: {{ start_pos_ | json }},
                    pay_rate: {{ pay_rate_ | json }},
                    service_time: {{ service_time_ | json }},
                    time_spent_in_front: 0,
                    ID: {{ id | json }},
                    served: false,
                    endowment: {{ endowment_ | json }},
                    payoff: {{ endowment_ | json }},
                    position: {{ start_pos_ | json }},
                    in_trade: false, // state
                    requested: null, // person
                    requesting: null, // person
                    accepted: 2,
                    current_alert: '',
                    display_alert: '',
                    last_event: null,
                    waiting_time: 0,
                    bid: null,

                    //group data
                    service_color: '#545353',
                    swap_method: {{ swap_method_ | json}},
                    pay_method: {{ pay_method_ | json}},
                    start_time: null,
                    now: null,
                    num_players: {{ num_players_ | json }},
                    num_players_queue: {{ num_players_ | json }},
                    num_players_service: 0,
                    period_length: {{ round_time_ | json }},
                    alert_duration: 3.5, //duration in s an alert is shown
                    alert_fadeout: 1, // duration in s an alert fades out
                    alert_opacity: 1,
                    dur: 0,
                    alert_interval: null,
                    trade_allowed: { // these are positions not IDs
                        1: true,
                        2: true,
                        3: true,
                        4: true,
                        5: true,
                        6: true,
                        7: true,
                        8: true,
                        9: true,
                        10: true,
                    },
                    metadata: null,
                    channel : document.getElementById('channel')
                }
            },
            // Vue lifecycle hook: this function gets called when the Vue instance is created
            created: function() {
                this.start_time = parseInt(new Date().getTime() / 1000)

                setInterval(function() {
                    this.now = parseInt(new Date().getTime() / 1000)
                }.bind(this), 999) // assume a 1 ms delay for all information transit and logic
            },
            // computed functions get called every time one of their dependencies changes
            computed: {
                // everytime this.now changes (once per second), this function is called
                time_remaining_period: function() {
                    return this.period_length - (this.now - this.start_time)
                },
                h: function() {
                    return this.num_players > 6 ? window.innerHeight : window.innerHeight * 0.55
                }
            },
            // watch functions are called every time the property associated with the function name
            // changes
            watch: {
                // updates the alert that the player sees
                current_alert: function() {
                    clearInterval(this.alert_interval)
                    //console.log(this.current_alert)
                    this.display_alert = this.current_alert
                    this.dur = 0
                    this.alert_opacity = 1
                    this.alert_interval = setInterval( function() {
                        if(this.dur >= this.alert_duration) {
                            this.display_alert = ''
                            clearInterval(this.alert_interval)
                        }
                        else if(this.dur >= this.alert_duration - this.alert_fadeout) {
                            this.alert_opacity = 1 - 
                                (this.dur - (this.alert_duration - this.alert_fadeout))
                            this.dur += 0.01
                        }
                        else {
                            this.dur += 0.01
                        }
                    }.bind(this), 10)
                },
                // gets called every time this.now is updated, every second
                // updates player's service time served, and payoff
                now: function() {
                    if(this.service_color == '#28b738')
                        this.service_color = '#545353'
                    if(this.served == true) {
                        if (this.pay_method == 'gain') {
                            this.payoff += this.pay_rate
                        }
                    }
                    else {
                        this.waiting_time += 1
                        if(this.pay_method == 'lose') {
                            this.payoff -= this.pay_rate
                        }
                        if(this.position == 0) {
                            if(this.time_spent_in_front == this.service_time - 1) {
                                this.service_color = '#28b738'
                                this.next()
                                time_sr()
                                this.served = true
                            }
                            else {
                                this.time_spent_in_front += 1
                            }
                        }
                        if(this.position == 1 && this.num_players_service == 0)
                        {
                            this.service_color = '#28b738'
                            this.next()
                        }  
                    }
                },
                // used to determine whether buttons are clickable
                last_event: function() {
                    for(var p in g_data) {
                        if (!this.in_trade && g_data.hasOwnProperty(p) && p != 'metadata'
                                && !g_data[p]['in_trade']) {
                            this.trade_allowed[g_data[p]['pos']] = true
                        }
                        else {
                            this.trade_allowed[g_data[p]['pos']] = false
                        }
                    }
                },
            },
            // user defined methods, that can be called within Vue, the js, or the HTML
            methods: {
                // emits a request. Called by a player clicking a request button
                // single argument is the position of the requestee
                // the position of the requester is stored in data and is already known
                request: function(obj) {
                    pos = obj['pos']
                    bid = obj['bid']
                    for(var p in g_data) {
                        if (g_data.hasOwnProperty(p) && p != 'metadata') {
                            if(g_data[p]['pos'] == pos) {
                                g_data[this.ID]['requesting'] = g_data[p]['id']
                                g_data[this.ID]['last_trade_request'] = new Date().getTime()
                                g_data[this.ID]['bid'] = bid
                            }
                        }
                    }
                    this.update()
                },
                // respond to a request: called when a player clicks a yes/no button
                respond: function(yesno) {
                    g_data[this.ID]['accepted'] = yesno
                    this.update()
                },
                // called when someone's service time has run out; someone is about to enter the
                // service room
                next: function() {
                    for(var p in g_data) {
                        if (g_data.hasOwnProperty(p) && p != 'metadata') {
                            g_data[p]['pos']--
                            g_data[p]['num_players_queue']--
                            g_data[p]['num_players_service']++
                            g_data[p]['next'] = true
                        }
                    }
                    this.update()
                },

                // sends g_data to server
                // state machine in server changes relevant fields then sends data back to client
                // eventListener sets received payload to g_data
                update: function() {
                    this.channel.send(g_data)
                }
            }
        })

        /*  Component for queue player representation
            vm means Vue machine or the vue instance defined above
            Because the component needs to know whether the player it represents is in trade or not,
            it needs to access the vm. So, it cannot be defined above the vm. Since the vm
            automatically becomes the parent of components defined above it, but does not recognize
            components defined below it. The components cannot be defined inside it because for some
            reason doing that causes a stack overflow.

            The point is that you will see warnings related to the component declaration in the
            console, but they can be ignored and have no effect on the program running.
        */
        Vue.component( 'q-bubble', {
            delimiters: ['{', '}'],
            props: ['num_players', 'comp_pos', 'self_pos', 'requested', 'swap_method'],
            data: function() {
                return {
                    bid: null,
                    bid_clicked: false,
                }
            },
            computed: {
                trade_allowed: function() {
                    return vm.trade_allowed[this.comp_pos]
                },
                in_bid: function() {
                    return vm.bid
                }
            },
            methods: {
                bid_click: function() {
                    this.bid_clicked = true
                },
                send_click: function(bid) {
                    this.bid_clicked = false
                    this.bid = document.getElementById('bid').value

                    if(this.bid < 0 || this.bid > vm.payoff)
                        vm.current_alert = 'Your bid must be bewteen 0 and your current payoff'
                    else
                        vm.request({pos: this.comp_pos, bid: Number(this.bid).toFixed(2)})
                }
            },
            template: `
                <div v-if="num_players >= comp_pos">
                    <div class="row padded-row">
                        <svg class="svg"> 
                            <circle cx="45" cy="60" r="40" v-if="comp_pos != self_pos"/>
                            <circle cx="45" cy="60" r="40" style="fill: #545353;" 
                                v-if="comp_pos == self_pos"/>
                            <text v-bind:x="40 - (parseInt(comp_pos / 10) * 4)" y="65" v-if="comp_pos != self_pos">
                                { comp_pos }
                            </text>
                            <text v-bind:x="40 - (parseInt(comp_pos / 10) * 4)" y="65" style="fill: whitesmoke;" v-if="comp_pos == self_pos">
                                { comp_pos }
                            </text>
                        </svg>
                    </div>

                    <div class="row btn-row" v-if="swap_method == 'swap'">
                        
                        <button type="button" class="btn btn-large"
                            style="margin-left: 22px;" v-if="comp_pos == self_pos - 1 && trade_allowed"
                            v-on:click="$emit('request', {pos: comp_pos, bid: null})">Swap</button>
                        
                        <button type="button" class="btn btn-large"
                            style="margin-left: 22px;" v-if="comp_pos == self_pos - 1 && !trade_allowed"
                            disabled>Swap</button>
                        
                        <div class="col-6">
                            <button type="button" class="btn btn-large btn-yes"
                                v-if="comp_pos == self_pos + 1 && requested != null"
                                onclick="vm.respond(1)">Yes</button>
                        </div> 
                        <div class="col-6">
                            <button type="button" class="btn btn-large btn-no"
                                v-if="comp_pos == self_pos + 1 && requested != null"
                                onclick="vm.respond(0)">No</button>
                        </div>
                    </div>

                    <div class="row btn-row" v-if="swap_method == 'cut'">
                        
                        <button type="button" class="btn btn-large"
                            style="margin-left: 27px;" v-if="comp_pos < self_pos && trade_allowed"
                            v-on:click="$emit('request', {pos: comp_pos, bid: null})">Cut</button>
                        
                        <button type="button" class="btn btn-large"
                            style="margin-left: 27px;" v-if="comp_pos < self_pos && !trade_allowed"
                            disabled>Cut</button>
                        
                    </div>

                    <div class="row btn-row" v-if="swap_method == 'bid'">
                        
                        <button type="button" class="btn btn-large"
                            style="margin-left: 27px;" v-if="!bid_clicked && comp_pos == self_pos - 1 && trade_allowed"
                            v-on:click="bid_click">Bid</button>
                        
                        <button type="button" class="btn btn-large"
                            style="margin-left: 27px;" v-if="!bid_clicked && comp_pos == self_pos - 1 && !trade_allowed"
                            disabled>Bid</button>

                        <input v-if="bid_clicked" type="number" id="bid" max="vm.payoff" min="0"
                            style="width: 58%; margin-left: 22px"
                            onKeyPress="if (event.keyCode == 13) return false"/>

                         <button type="button" class="btn btn-large"
                            style="margin-left: 22px;" v-if="bid_clicked && comp_pos == self_pos - 1 && trade_allowed"
                            v-on:click="send_click">Send</button>
                        
                        <p v-if="comp_pos == self_pos + 1 && requested != null"
                            style="width: 100%; text-align: center">
                            Bid: { in_bid }
                        <p>

                        <div class="col-6">
                            <button type="button" class="btn btn-large btn-yes"
                                v-if="comp_pos == self_pos + 1 && requested != null"
                                onclick="vm.respond(1)">Yes</button>
                        </div> 
                        <div class="col-6">
                            <button type="button" class="btn btn-large btn-no"
                                v-if="comp_pos == self_pos + 1 && requested != null"
                                onclick="vm.respond(0)">No</button>
                        </div>
                    </div>

                </div>
            `
        })

        // component for service player representation
        // same issues as q-bubble
        Vue.component( 's-bubble', {
            delimiters: ['{', '}'],
            props: ['num_players', 'comp_pos', 'self_pos'],
            template: `
                <div class="col-4" v-if="num_players >= -comp_pos + 1">
                    <svg class="svg-s"> 
                        <circle cx="45" cy="60" r="40" style="fill: #545353;"
                            v-if="comp_pos == self_pos"/>
                        <circle cx="45" cy="60" r="40" v-if="comp_pos != self_pos"/>
                    </svg>
                </div>
            `
        })

        // all group data pertinent to swaps and player states
        var g_data = {{ data | json }}

        // event listener to check for events sent by server over channel
        vm.channel.addEventListener('event', function(event) {
            
            // for debugging
            //console.log(event.detail.channel) // "swap"
            //console.log(new Date().getTime()) // timestamp
            console.log(event.detail.payload) // test_order
            //console.log(event.detail.payload['metadata']) // previous trade records

            g_data = event.detail.payload

            // updates this player's vue data
            var p = g_data[vm.ID]
            vm.position = p.pos
            vm.in_trade = p.in_trade
            vm.requested = p.requested
            vm.requesting = p.requesting
            vm.accepted = p.accepted
            vm.current_alert = p.alert
            vm.num_players_queue = p.num_players_queue
            vm.num_players_service = p.num_players_service
            vm.last_event = parseInt(new Date().getTime() / 1000)
            vm.bid = p.bid
            vm.metadata = g_data['metadata']
            //now, with reactivity, all of these fields should update in the html
            //need to do some logic that updates the actual html from here
        })


    </script>

    <!--Import the redwood-period webcomponent.-->
    <link rel="import"
        href="/static/otree-redwood/webcomponents/redwood-period/redwood-period.html">

{% endblock %}

{% block styles %}
    <style>
        .dev {
            border-style: solid;
            border-width: 1px;
        }
        .svg {
            margin-left: 9px;
        }
        .svg-s {
            margin-left: -7px;
        }
        .infobar {
            height: 60px;
            background-color: #dfdfdf;
        }
        .infoborder {
            border-right: solid;
            border-bottom: solid;
            border-width: 1px; 
            border-color: #c0c0c0;
        }
        .infocol {
            text-align: center;
            color: #545353;
            font-size: 18px;
            font-family: sans-serif;
        }
        .alertbar {
            text-align: center;
            color: #e23f36;
            height: 30px;
            background-color: #dfdfdf;
            border-bottom: solid;
            border-color: #c0c0c0;
            border-width: 1px;
        }
        .queue-1 {
            background-color: #f3f2f2;
        }
        .queue-2 {
            background-color: #fbfbfb;
        }
        .padded-row {
            margin-top: 30px;
        }
        .service {
            background-color: #f2f2f2;
        }
        .btn {
            background-color: #545353;
            color: whitesmoke;
        }
        .btn-row {
            margin-top: -30px;
            height: 40px;
        }
        .btn-yes {
            margin-left: -15px; background-color: #28b738;
        }
        .btn-no {
            margin-left: -15px; width: 220%; background-color: #e23f36;
        }
        .otree-timer {
            display: none;
        }
        circle {
            stroke: #545353;
            stroke-width: 3px;
            fill: none;
        }
        text {
            color: #545353;
            font-size: 16px;
            font-family: sans-serif;
        }
    </style>
{% endblock %}


{% block title %}
{% endblock %}

{% block content %}
    <!-- django form inputs -->
    <input type="hidden" name="time_Queue" id="arrive_time" />
    <input type="hidden" name="time_Service" id="sr_time" />

    <redwood-period></redwood-period>
    <redwood-channel
        id="channel"
        channel="swap">
    </redwood-channel>

    <div id="app">
        <!-- hidden inputs that submit all required data to server at end of round -->
        <input type="hidden" name="service_time" v-model="service_time"/>
        <input type="hidden" name="pay_rate" v-model="pay_rate"/>
        <input type="hidden" name="round_payoff" v-model="payoff.toFixed(2)"/>
        <input type="hidden" name="start_pos" v-model="start_pos"/>
        <input type="hidden" name="endowment" v-model="endowment"/>
        <input type="hidden" name="swap_method" v-model="swap_method"/>
        <input type="hidden" name="pay_method" v-model="pay_method"/>
        <input type="hidden" name="waiting_time" v-model="waiting_time"/>
        <input type="hidden" name="metadata" v-model="JSON.stringify(metadata)"/>
        <div class="row" v-bind:style="{ height: .775 * h + 'px;' }">
            <div class="col-12">
                <div class="row infobar">
                    <div class="col-2 infocol infoborder">
                        Round: <br>
                        {{ round_ }}
                    </div>
                    <div class="col-2 infocol infoborder">
                        Endowment: <br>
                        ${ endowment.toFixed(2) }
                    </div>
                    <div class="col-2 infocol infoborder">
                        Pay Rate: ({ pay_method })<br>
                        ${ pay_rate } / second
                    </div>
                    <div class="col-2 infocol infoborder">
                        Service Time: <br>
                        { service_time } seconds
                    </div>
                    <div class="col-2 infocol infoborder">
                        Payoff: <br>
                        ${ payoff.toFixed(2) }
                    </div>
                    <div class="col-2 infocol" style="font-size: 45px;
                        border-bottom: solid; border-width: 1px; border-color: #bbbbbb">
                        { time_remaining_period }
                    </div>
                </div>
                <div class="row alertbar">
                    <div class="col-8" v-bind:style="{ opacity: alert_opacity }">
                        { display_alert }
                    </div>
                </div>
                <div class="row" v-bind:style="{ height: .6625 * h + 'px;' }">
                    <div class="col-8 queue" style="border-width: 1px">
                        <div class="row" v-bind:style="{ height: (.6625 * h - 2) + 'px' }">
                            <div class="col-2 queue-1">
                                <q-bubble
                                    v-bind:num_players="num_players_queue"
                                    comp_pos="5"
                                    v-bind:self_pos="position"
                                    v-bind:requested="requested"
                                    v-bind:swap_method="swap_method"
                                    v-on:request="request">
                                </q-bubble>
                                <q-bubble
                                    v-bind:num_players="num_players_queue"
                                    comp_pos="6"
                                    v-bind:self_pos="position"
                                    v-bind:requested="requested"
                                    v-bind:swap_method="swap_method"
                                    v-on:request="request">
                                </q-bubble>
                            </div>
                            <div class="col-2 queue-2">
                                <q-bubble
                                    v-bind:num_players="num_players_queue"
                                    comp_pos="4"
                                    v-bind:self_pos="position"
                                    v-bind:requested="requested"
                                    v-bind:swap_method="swap_method"
                                    v-on:request="request">
                                </q-bubble>
                                <q-bubble
                                    v-bind:num_players="num_players_queue"
                                    comp_pos="7"
                                    v-bind:self_pos="position"
                                    v-bind:requested="requested"
                                    v-bind:swap_method="swap_method"
                                    v-on:request="request">
                                </q-bubble>
                            </div>
                            <div class="col-2 queue-1">
                                <q-bubble
                                    v-bind:num_players="num_players_queue"
                                    comp_pos="3"
                                    v-bind:self_pos="position"
                                    v-bind:requested="requested"
                                    v-bind:swap_method="swap_method"
                                    v-on:request="request">
                                </q-bubble>
                                <q-bubble
                                    v-bind:num_players="num_players_queue"
                                    comp_pos="8"
                                    v-bind:self_pos="position"
                                    v-bind:requested="requested"
                                    v-bind:swap_method="swap_method"
                                    v-on:request="request">
                                </q-bubble>
                            </div>
                            <div class="col-2 queue-2">
                                <q-bubble
                                    v-bind:num_players="num_players_queue"
                                    comp_pos="2"
                                    v-bind:self_pos="position"
                                    v-bind:requested="requested"
                                    v-bind:swap_method="swap_method"
                                    v-on:request="request">
                                </q-bubble>
                                <q-bubble
                                    v-bind:num_players="num_players_queue"
                                    comp_pos="9"
                                    v-bind:self_pos="position"
                                    v-bind:requested="requested"
                                    v-bind:swap_method="swap_method"
                                    v-on:request="request">
                                </q-bubble>
                            </div>
                            <div class="col-2 queue-1">
                                <q-bubble
                                    v-bind:num_players="num_players_queue"
                                    comp_pos="1"
                                    v-bind:self_pos="position"
                                    v-bind:requested="requested"
                                    v-bind:swap_method="swap_method"
                                    v-on:request="request">
                                </q-bubble>
                            </div>
                            <div class="col-2 queue-2" 
                                v-bind:style="{ 'border-left': 'solid', 'border-right': 'solid',
                                    'border-width': '1px', 'border-color': service_color }">
                                <div v-if="num_players_service > 0 && num_players_service <= num_players">
                                    <div class="row padded-row">
                                        <svg class="svg"> 
                                            <circle cx="45" cy="60" r="40" v-if="position != 0"/>
                                            <circle cx="45" cy="60" r="40" style="fill: #545353;" 
                                                v-if="position == 0"/>
                                            <text v-bind:x="40 - (parseInt((service_time
                                                - time_spent_in_front) / 10) * 4)" y="135"
                                                v-if="position == 0">
                                                { service_time - time_spent_in_front }
                                             </text>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 service">
                        <div class="row" v-bind:style="{ height: (.6625 * h - 2) + 'px' }">
                            <div class="col-12">
                                <div class="row padded-row" style="height: 100px;">
                                    <s-bubble
                                        v-bind:num_players="num_players_service"
                                        comp_pos="-1"
                                        v-bind:self_pos="position">
                                    </s-bubble>
                                    <s-bubble
                                        v-bind:num_players="num_players_service"
                                        comp_pos="-2"
                                        v-bind:self_pos="position">
                                    </s-bubble>
                                    <s-bubble
                                        v-bind:num_players="num_players_service"
                                        comp_pos="-3"
                                        v-bind:self_pos="position">
                                    </s-bubble>
                                </div>
                                <div class="row padded-row" style="height: 100px;"
                                        v-if="num_players > 3">
                                    <s-bubble
                                        v-bind:num_players="num_players_service"
                                        comp_pos="-4"
                                        v-bind:self_pos="position">
                                    </s-bubble>
                                    <s-bubble
                                        v-bind:num_players="num_players_service"
                                        comp_pos="-5"
                                        v-bind:self_pos="position">
                                    </s-bubble>
                                    <s-bubble
                                        v-bind:num_players="num_players_service"
                                        comp_pos="-6"
                                        v-bind:self_pos="position">
                                    </s-bubble>
                                </div>
                                <div class="row padded-row" style="height: 100px;"
                                        v-if="num_players > 6">
                                    <s-bubble
                                        v-bind:num_players="num_players_service"
                                        comp_pos="-7"
                                        v-bind:self_pos="position">
                                    </s-bubble>
                                    <s-bubble
                                        v-bind:num_players="num_players_service"
                                        comp_pos="-8"
                                        v-bind:self_pos="position">
                                    </s-bubble>
                                    <s-bubble
                                        v-bind:num_players="num_players_service"
                                        comp_pos="-9"
                                        v-bind:self_pos="position">
                                    </s-bubble>
                                </div>
                                <div class="row padded-row" style="height: 100px;"
                                        v-if="num_players > 9">
                                    <s-bubble
                                        v-bind:num_players="num_players_service"
                                        comp_pos="-10"
                                        v-bind:self_pos="position">
                                    </s-bubble>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% comment %}
        
{% endcomment %}















