{% extends "global/Base.html" %}
{% load staticfiles otree %}

{% comment %}
    
    Eli Pandolfo <epandolf@ucsc.edu>

    Otree redwood:
        if you call any function that calls 'channel.send()' in the plain javascript or within
        the Vue machine, you will get an error saying channel does not have a method called
        send.

        However, if you call the function from the HTML or from a function that runs automatically
        such as window.onload, it works fine.

    As of latest tested commit 5-17-18:
        -   redwood is functional
        -   any issues related to latency are not known/tested
        -   all packets sent across the swap channel update the vm, but this has not been thoroughly
            tested
        -   the vm data has all fields that (I think) it will need
        -   about half of the dynamically rendered html is dynamically rendered; need to add IDs
            and display toggles for most elements

    
{% endcomment %}

{% block scripts %}

    <script src="{% static "js/vue.js" %}"></script>
    <script type='text/javascript'>
        // time when user enters the queue room
        // might want to change this to when all players arrive
        window.onload = function () {
            document.getElementById('arrive_time').value = (new Date()).toISOString()
            
            // initial data is sent to the server and back, default values of the vm should
            // be the same as the data that gets returned. Is this necessary then?
            //vm.update()
        }
        
        // time when a player enters the service room 
        time_sr = function() {
            document.getElementById('service_time').value = (new Date()).toISOString()
        }

        // Boilerplate that lets you access useful oTree template variables from Javascript.
        var oTree = oTree || {};
        (function() {
            oTree.group = parseInt("{{ player.group.pk }}");
            oTree.group = isNaN(oTree.group) ? null : oTree.group;
            oTree.role = "{{ player.role }}";
            oTree.participantCode = "{{ player.participant.code }}";
            oTree.appName = "{{ subsession.app_name }}";
            oTree.idInGroup = "{{ player.id_in_group }}";
            oTree.csrfToken = "{{ csrf_token }}";
            {% if view.is_debug %}
            oTree.debug = true;
            {% else %}
            oTree.debug = false;
            {% endif %}
        })();

        // Log period start/end to the JavaScript console.
        document.querySelector("redwood-period").addEventListener('period-start', function(event) {
            console.log('period started');
        });
        document.querySelector("redwood-period").addEventListener('period-end', function(event) {
            console.log('period ended');
        });

        Vue.component( 'q-bubble', {
            delimiters: ['{', '}'],
            props: ['num_players', 'comp_pos', 'self_pos'],
            template: `
                <div v-if="num_players >= 6">
                    <div class="row padded-row">
                        <svg class="svg q-el"> 
                            <circle cx="45" cy="60" r="40" v-if="comp_pos != self_pos"/>
                            <circle cx="45" cy="60" r="40" style="fill: #545353;" 
                                v-if="comp_pos == self_pos"/>
                            <text x="40" y="65" v-if="comp_pos != self_pos">
                                { comp_pos }
                            </text>
                            <text x="40" y="65" style="fill: whitesmoke;" v-if="comp_pos == self_pos">
                                { comp_pos }
                            </text>
                            <rect x="94" y="0" rx="3" ry="3" width="5" height="130"
                                style="fill: #545353;" v-if="comp_pos == 1"/>
                        </svg>
                    </div>
                    <div class="row btn-row">
                        <button type="button" id="trade" class="btn btn-large"
                        style="margin-left: 20px;">Trade</button>
                        <div class="col-6">
                            <button type="button" id="trade" class="btn btn-large btn-yes">Yes</button>
                        </div>
                        <div class="col-6">
                            <button type="button" id="trade" class="btn btn-large btn-no">No</button>
                        </div>
                    </div>
                </div>
            `
        })

        var vm = new Vue({
            delimiters: ['{', '}'],
            el: '#app',
            data: {
                // player data
                pay_rate: {{ pay_rate_ | json }},
                service_time: {{ service_time_ | json }},
                time_remaining_queue: null,
                ID: {{ id | json }},

                //group data
                num_players: 10,//{{ num_players_ | json }},
                position: {{ start_pos_ | json }},
                in_trade: false, // state
                requested: null, // person
                requesting: null, // person
                time_remaining_session: {{ round_time_ | json }},
                accumulated: 0.00,
                accepted: 2,
                current_alert: null,
                alert_duration: 3, //duration in s an alert is shown
                alert_fadeout: 1.5, // duration in s an alert fades out
                g_data: {{ data | json }},
                channel : document.getElementById('channel')
            },
            mounted: function() {
                // adds event listener to check for events sent by server over channel
                this.channel.addEventListener('event', function(event) {
                    console.log(event.detail.channel) // "swap"
                    //console.log(event.detail.timestamp)
                    console.log(event.detail.payload) // test_order

                    this.g_data = event.detail.payload
                })
                
            },
            methods: {
                // first, sends g_data to server
                // state machine in server changes relevant fields then sends data back to client
                // eventListener sets received payload to g_data
                update : function() {
                    this.channel.send(this.g_data)
                    // assuming something knows to wait until the response is received,
                    // g_data has now been updated by server
                    // if it is not waiting, we can make a toggle that gets turned off after the send
                    // and turned on by the event listener, with the following code not run until
                    // the toggle is true. This would need code to run in parallel, so idk if that
                    // is done by default or there is something more complex going on.
                    // listener
                    var p = this.g_data[this.ID]
                    // is this getting parsed with json??
                    // JSON.parse(g_data)
                    this.position = p.pos
                    this.in_trade = p.in_trade
                    this.requested = p.requested
                    this.requesting = p.requesting
                    this.accepted = p.accepted
                    this.current_alert = p.alert
                    //now, with reactivity, all of these fields should update in the html
                    //need to do some logic that updates the actual html from here
                }
            }
        })

    </script>

    <!--Import the redwood-decision and redwood-period webcomponents.-->
    <link rel="import"
        href="/static/otree-redwood/webcomponents/redwood-decision/redwood-decision.html">
    <link rel="import"
        href="/static/otree-redwood/webcomponents/redwood-period/redwood-period.html">

{% endblock %}

{% block styles %}
    <style>
        .dev {
            border-style: solid;
            border-width: 1px;
        }
        .svg {
            margin-left: 9px;
        }
        .svg-s {
            margin-left: -7px;
        }
        .infobar {
            height: 60px;
            background-color: #dfdfdf;
        }
        .infoborder {
            border-right: solid;
            border-bottom: solid;
            border-width: 1px; 
            border-color: #c0c0c0;
        }
        .infocol {
            text-align: center;
            color: #545353;
            font-size: 18px;
            font-family: sans-serif;
        }
        .alertbar {
            text-align: center;
            color: #e23f36;
            height: 30px;
            background-color: #dfdfdf;
            border-bottom: solid;
            border-color: #c0c0c0;
            border-width: 1px;
        }
        .queue-1 {
            background-color: #f3f2f2;
        }
        .queue-2 {
            background-color: #fbfbfb;
        }
        .q-el {

        }
        .padded-row {
            margin-top: 30px;
        }
        .service {
            background-color: #f2f2f2;
        }
        .btn {
            background-color: #545353;
            color: whitesmoke;
        }
        .btn-row {
            margin-top: -30px;
            height: 40px;
        }
        .btn-yes {
            margin-left: -15px; background-color: #28b738;
        }
        .btn-no {
            margin-left: -15px; width: 220%; background-color: #e23f36;
        }
        circle {
            stroke: #545353;
            stroke-width: 3px;
            fill: none;
        }
        text {
            color: #545353;
            font-size: 16px;
            font-family: sans-serif;
        }
    </style>
{% endblock %}


{% block title %}
{% endblock %}

{% block content %}
    <!--form field for page load time-->
    <input type="hidden" name="time_Queue" id="arrive_time" />

    <redwood-period></redwood-period>
    <redwood-decision></redwood-decision>
    <redwood-channel
        id="channel"
        channel="swap">
    </redwood-channel>

    <div id="app">
        <div class="row" style="height: 620px;">
            <div class="col-12">
                <div class="row infobar">
                    <div class="col-2 infocol infoborder">
                        Round: <br>
                        {{ round_ }}
                    </div>
                    <div class="col-3 infocol infoborder">
                        Pay Rate: <br>
                        ${ pay_rate } / second
                    </div>
                    <div class="col-3 infocol infoborder">
                        Service Time: <br>
                        { service_time }
                    </div>
                    <div class="col-2 infocol infoborder">
                        Accumulated: <br>
                        ${ accumulated.toFixed(2) }
                    </div>
                    <div class="col-2 infocol" style="font-size: 45px;
                        border-bottom: solid; border-width: 1px; border-color: #bbbbbb">
                        { time_remaining_session }
                    </div>
                </div>
                <div class="row alertbar">
                    <div class="col-8">
                        { current_alert }
                    </div>
                </div>
                <div class="row" style="height: 530px;">
                    <div class="col-8 queue" style="border-width: 1px">
                        <div class="row" style="height: 528px;">
                            <div class="col-2 queue-1">
                                <!-- <div v-if="num_players >= 6">
                                    <div class="row padded-row" v-if="num_players >= 6">
                                        <svg class="svg q-el"> 
                                            <circle cx="45" cy="60" r="40"/>
                                            <text x="40" y="65">
                                                6
                                            </text>
                                        </svg>
                                    </div>
                                    <div class="row btn-row" v-if="num_players >= 6">
                                        <button type="button" id="trade" class="btn btn-large"
                                        style="margin-left: 20px;">Trade</button>
                                        <div class="col-6">
                                            <button type="button" id="trade" class="btn btn-large btn-yes">Yes</button>
                                        </div>
                                        <div class="col-6">
                                            <button type="button" id="trade" class="btn btn-large btn-no">No</button>
                                        </div>
                                    </div>
                                </div> -->
                                <q-bubble
                                    v-bind:num_players="num_players"
                                    comp_pos="6"
                                    v-bind:self_pos="position">
                                </q-bubble>
                                <div v-if="num_players >= 7">
                                    <div class="row padded-row">
                                        <svg class="svg q-el"> 
                                            <circle cx="45" cy="60" r="40"/>
                                            <text x="40" y="65">
                                                7
                                            </text>
                                        </svg>
                                    </div>
                                    <div class="row btn-row">
                                        <button type="button" id="trade" class="btn btn-large"
                                        style="margin-left: 20px;">Trade</button>
                                        <div class="col-6">
                                            <button type="button" id="trade" class="btn btn-large btn-yes">Yes</button>
                                        </div>
                                        <div class="col-6">
                                            <button type="button" id="trade" class="btn btn-large btn-no">No</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 queue-2">
                                <div v-if="num_players >= 5">
                                    <div class="row padded-row">
                                        <svg class="svg q-el"> 
                                            <circle cx="45" cy="60" r="40"/>
                                            <text x="40" y="65">
                                                5
                                            </text>
                                        </svg>
                                    </div>
                                    <div class="row btn-row">
                                        <button type="button" id="trade" class="btn btn-large"
                                        style="margin-left: 20px;">Trade</button>
                                        <div class="col-6">
                                            <button type="button" id="trade" class="btn btn-large btn-yes">Yes</button>
                                        </div>
                                        <div class="col-6">
                                            <button type="button" id="trade" class="btn btn-large btn-no">No</button>
                                        </div>
                                    </div>
                                </div>
                                <div v-if="num_players >= 8">
                                    <div class="row padded-row">
                                        <svg class="svg q-el"> 
                                            <circle cx="45" cy="60" r="40"/>
                                            <text x="40" y="65">
                                                8
                                            </text>
                                        </svg>
                                    </div>
                                    <div class="row btn-row">
                                        <button type="button" id="trade" class="btn btn-large"
                                        style="margin-left: 20px;">Trade</button>
                                        <div class="col-6">
                                            <button type="button" id="trade" class="btn btn-large btn-yes">Yes</button>
                                        </div>
                                        <div class="col-6">
                                            <button type="button" id="trade" class="btn btn-large btn-no">No</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 queue-1">
                                <div v-if="num_players >= 4">
                                    <div class="row padded-row">
                                        <svg class="svg q-el"> 
                                            <circle cx="45" cy="60" r="40"/>
                                            <text x="40" y="65">
                                                4
                                            </text>
                                        </svg>
                                    </div>
                                    <div class="row btn-row">
                                        <button type="button" id="trade" class="btn btn-large"
                                        style="margin-left: 20px;">Trade</button>
                                        <div class="col-6">
                                            <button type="button" id="trade" class="btn btn-large btn-yes">Yes</button>
                                        </div>
                                        <div class="col-6">
                                            <button type="button" id="trade" class="btn btn-large btn-no">No</button>
                                        </div>
                                    </div>
                                </div>
                                <div v-if="num_players >= 9">
                                    <div class="row padded-row">
                                        <svg class="svg q-el"> 
                                            <circle cx="45" cy="60" r="40"/>
                                            <text x="40" y="65">
                                                9
                                            </text>
                                        </svg>
                                    </div>
                                    <div class="row btn-row">
                                        <button type="button" id="trade" class="btn btn-large"
                                        style="margin-left: 20px;">Trade</button>
                                        <div class="col-6">
                                            <button type="button" id="trade" class="btn btn-large btn-yes">Yes</button>
                                        </div>
                                        <div class="col-6">
                                            <button type="button" id="trade" class="btn btn-large btn-no">No</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 queue-2">
                                <div v-if="num_players >= 3">
                                    <div class="row padded-row">
                                        <svg class="svg q-el"> 
                                            <circle cx="45" cy="60" r="40"/>
                                            <text x="40" y="65">
                                                3
                                            </text>
                                        </svg>
                                    </div>
                                    <div class="row btn-row">
                                        <button type="button" id="trade" class="btn btn-large"
                                        style="margin-left: 20px;">Trade</button>
                                        <div class="col-6">
                                            <button type="button" id="trade" class="btn btn-large btn-yes">Yes</button>
                                        </div>
                                        <div class="col-6">
                                            <button type="button" id="trade" class="btn btn-large btn-no">No</button>
                                        </div>
                                    </div>
                                </div>
                                <div v-if="num_players >= 10">
                                    <div class="row padded-row">
                                        <svg class="svg q-el"> 
                                            <circle cx="45" cy="60" r="40"/>
                                            <text x="35" y="65">
                                                10
                                            </text>
                                        </svg>
                                    </div>
                                    <div class="row btn-row">
                                        <button type="button" id="trade" class="btn btn-large"
                                        style="margin-left: 20px;">Trade</button>
                                        <div class="col-6">
                                            <button type="button" id="trade" class="btn btn-large btn-yes">Yes</button>
                                        </div>
                                        <div class="col-6">
                                            <button type="button" id="trade" class="btn btn-large btn-no">No</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 queue-1">
                                <div v-if="num_players >= 2">
                                    <div class="row padded-row">
                                        <svg class="svg q-el">
                                            <circle cx="45" cy="60" r="40" style="fill: #545353;"/>
                                            <text x="40" y="65" style="fill: whitesmoke;">
                                                2
                                            </text>
                                        </svg>
                                    </div>
                                    <div class="row btn-row">
                                        <button type="button" id="trade" class="btn btn-large"
                                        style="margin-left: 20px;">Trade</button>
                                        <div class="col-6">
                                            <button type="button" id="trade" class="btn btn-large btn-yes">Yes</button>
                                        </div>
                                        <div class="col-6">
                                            <button type="button" id="trade" class="btn btn-large btn-no">No</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 queue-2">
                                <div class="row padded-row">
                                    <svg class="svg q-el">
                                        <circle cx="45" cy="60" r="40" stroke="red" stroke-width="3" fill="none"/>
                                        <text x="40" y="65">
                                            1
                                        </text>
                                        <rect x="94" y="0" rx="3" ry="3" width="5" height="130" style="fill: #545353;"/>
                                    </svg>
                                </div>
                                <div class="row btn-row">
                                    <button type="button" id="trade" class="btn btn-large"
                                    style="margin-left: 20px;">Trade</button>
                                    <div class="col-6">
                                        <button type="button" id="trade" class="btn btn-large btn-yes">Yes</button>
                                    </div>
                                    <div class="col-6">
                                        <button type="button" id="trade" class="btn btn-large btn-no">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-4 service">
                        <div class="row" style="height: 528px;">
                            <div class="col-12">
                                <div class="row padded-row" style="height: 100px;">
                                    <div class="col-4">
                                        <svg class="svg-s"> 
                                            <circle cx="45" cy="60" r="40"/>
                                        </svg>
                                    </div>
                                    <div class="col-4">
                                        <svg class="svg-s">
                                            <circle cx="45" cy="60" r="40"/>
                                        </svg>
                                    </div>
                                    <div class="col-4">
                                        <svg class="svg-s">
                                            <circle cx="45" cy="60" r="40"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="row padded-row" style="height: 100px;">
                                    <div class="col-4">
                                        <svg class="svg-s"> 
                                            <circle cx="45" cy="60" r="40"/>
                                        </svg>
                                    </div>
                                    <div class="col-4">
                                        <svg class="svg-s">
                                            <circle cx="45" cy="60" r="40"/>
                                        </svg>
                                    </div>
                                    <div class="col-4">
                                        <svg class="svg-s">
                                            <circle cx="45" cy="60" r="40"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="row padded-row" style="height: 100px;">
                                    <div class="col-4">
                                        <svg class="svg-s"> 
                                            <circle cx="45" cy="60" r="40"/>
                                        </svg>
                                    </div>
                                    <div class="col-4">
                                        <svg class="svg-s">
                                            <circle cx="45" cy="60" r="40"/>
                                        </svg>
                                    </div>
                                    <div class="col-4">
                                        <svg class="svg-s">
                                            <circle cx="45" cy="60" r="40"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="row padded-row" style="height: 100px;">
                                    <div class="col-4">
                                        <svg class="svg-s"> 
                                            <circle cx="45" cy="60" r="40"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% comment %}

    - need to adjust size of all top-bottom margins and heights of all outer elements to enlarge and contract with the number of participants
        for example, if there are 6 or less, eliminate 3rd and 4th row and center all elements
    - need to have all text dynamically generated
    - need to assign IDs to all buttons
        same respective ID for all yes, no, and trade buttons since only 1 of each can be displayed at one time
    - need to assign IDs to all circles since any and call could be displayed

    Useful to know
        IDs:
            yes button: 'yes'
            no button: 'no'
            trade button: 'trade'
            queue circles: 'qc1', 'qc2' ...

    - when players are in trade, the trade button will not be clickable

    TODO:
        make all the html line up with all the JS
        finish the update function, adding logic for which html elements should be affected by changes in g_data

{% endcomment %}















